/* Put your CSS here */
html, body {
    background-color: #fff;
    color:#000;
}

.page-header {
  margin-bottom: 5px;
}

.active {
    color: black;
    font-weight: bold;
}
.page-header {
    
    margin-top: 9px;
}

.container{
    margin-bottom: 20px;
}
.navbar {
    
    background-color: #000;
    color:#fff;
    padding:20px;
}
.alert {
    padding:12px;
    padding-right: 30px;
    margin-bottom: 1px;
}

.list-items-properties {
    border: 1px solid #dddddd;
    margin: 0 auto;
    padding: 0 auto;
    margin-bottom: 4px;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 18px;
}
.list-items-properties:hover {
    background-color: #fafafa;
}
.list-items-properties a:hover{
    text-decoration: none;
}

.cl{
    clear:both;
}
.list-items-properties .close {
    margin-right: 5px;
}
.badge-success {
    background-color: #5cb85c;
}
.btn-group-lg-100 {
    width: 100%;
    text-align: center;
    padding: 3px;
}
.btn-group-lg-100_1 {
    width: 100%;
    text-align: center;
}
.btn-lg-50 {
    width: 50%;
}.btn-mg-14-14 {
    padding-left: 15px;
    float:left;
}
.btn-lg-47 {
    width: 49%;
}
.btn-gr-300max {
    max-width: 300px;
}
.btn-lg-32 {
    width: 33.5%;
    border-radius: 4px;
}
.btn-group-lg-50 {
    max-width: 700px;
    width: 100%;
}
.btn-pdg-up-25 {
    padding-top: 13px;
    padding-bottom: 13px;
}
.btn-border-white {
	border: solid 1px #ffffff;
   }
.btn-border-white:hover {
	border: solid 1px #ffffff;
   }
.status:hover {
    cursor:default;
}
.status-primary:hover {
    background-color: #428bca;
}
.status-success:hover {
    background-color: #5cb85c;
}
.status-warning:hover {
    background-color: #f0ad4e;
}
.status-default:hover {
    background-color: #ffffff;
}

.details {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}
.float_left {
    width: 70%;
}
.navbar-inverse {
	background-color: #428bca;
}
.details_left {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: left;
}
.pedidos {
    max-width: 390px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.btn-lg-300 {
    max-width: 400px;
    width: 100%;
}
.form-group-lg-400 {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}
.rating-lg-50 {
    width: 75%;
    margin: 0 auto;
    max-width: 350px;
}
.logo-list{
    width: 48px;
    height: 48px;
    float: left;
    margin-left:18px;
    margin-top: 12px;
}

.btn-gray {
  color: #ffffff;
  background-color: #787878;
  border-color: #666666;
}

.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active,
.open .dropdown-toggle.btn-gray {
  color: #ffffff;
}


h3{
    font-weight: 200;
}
h4{
    font-weight: 200;
}
h5{
    font-weight: 200;
}
.margin-20{
    margin-top: 0px;
    margin-bottom: 10px;
}
.margin-30-0{
    margin-top: 30px;
    margin-bottom: 5px;
}
.margin-0-10{
    margin-top: 0px;
    margin-bottom: 10px;
}
.margin-0-20{
    margin-top: 0px;
    margin-bottom: 30px;
}
.margin-0-100{
    margin-top: 0px;
    margin-bottom: 67px;
}
.margin-0{
    margin-top: 0;
}
.margin-0-0-0{
    margin: 0 auto;
    padding: 0 auto;
}

.margin-0-0{
    padding: 15px 30px 15px 30px;
}

.margin-15{
    margin-top: 15px;
}
.margin-0-5{
    margin-top: 0px;
    margin-bottom: 5px;
}

#map_canvas { 
    height: 100%;

}
.table-margin-3{
    margin-top: 3px;
}

.width-40{
    max-width:220px;
    width: 19%;
}

#map_canvas label { width: auto; display:inline; }
#map_canvas img { max-width: none; }
.gm-style img { max-width: none; }
.gm-style label { width: auto; display: inline; }

li {
	list-style:none;
}

/*
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;      
    }
.rating > span {
    display: inline-block;
    position: relative;
    width: 1em;
}
.rating > span:hover,
.rating > span:hover ~ span,
.rating > span.active,
.rating > span.active ~ span {
    color: transparent;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before,
.rating > span.active:before,
.rating > span.active ~ span:before {
    position: absolute;
    color: gold;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before,
.rating > span.active:before,
.rating > span.active ~ span:before {
    content: "\2605";
}
.rating.sun > span:hover:before,
.rating.sun > span:hover ~ span:before,
.rating.sun > span.active:before,
.rating.sun > span.active ~ span:before {
    content: "\2600";
}*/

.fa-star-o
{

}

.fa-star
{
    color: gold;
}

i.fa
{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 80px;
    margin-top: 15px;
    margin-bottom: 15px;
}


.btn-fix {

}

.btn-icon {
   font-size: 20px;
}
.btn-inline {
   display: inline-block;
}
.btn-height{
    padding: 13px 0 13px 0;
}