/* Put your CSS here */
html, body {
    background-color: #fff;
    color:#000;
}

.active {
    color: black;
    font-weight: bold;
}
.page-header {
    
    margin-top: 9px;
}

.navbar {
    
    background-color: #000;
    color:#fff;
    padding:20px;
}
.alert {
    padding:12px;
    padding-right: 30px;
    margin-bottom: 1px;
}

.list-group-item > .close {
    float: left;
    margin-right: 54px;
}
.badge-success {
    background-color: #5cb85c;
}
.btn-lg-50 {
    width: 50%;
}
.btn-group-lg-50 {
    max-width: 700px;
    width: 100%;
}
.details {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    text-align: center;
}
.btn-lg-300 {
    max-width: 400px;
    width: 100%;
}


#map_canvas { 

}
#map_canvas label { width: auto; display:inline; }
#map_canvas img { max-width: none; }
.gm-style img { max-width: none; }
.gm-style label { width: auto; display: inline; }

li {
	list-style:none;
}