<div id="wrapper">
	<div class="row page-header">
		<div class="col-md-offset-1 col-md-11 col-sm-11 col-sm-offset-1 col-xs-1 col-xs-offset-1">
			<a {{ action 'back'}} href='#'>
				<h2 id="veenda-logo">Veenda</h2>  
			</a>
		</div>
	</div>   
	{{outlet}} 
</div>
